/* Menu.css */
.menu {
    width: 100%;
    background-color: #2e2a2a86;
    position: fixed;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .menu ul li {
    margin: 0 20px;
  }
  
  .menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .menu ul li a:hover {
    color: #f39c12;
    background-color: rgba(243, 156, 18, 0.2);
  }
  